<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/mainPage.css">
    <script src="JS/MainPage.js"></script>
    <title>Sitio principal IoTParking</title>
</head>

<body id="idBody" onload="windowLoaded()">
    <header>
    </header>
    <h1 id="titulo" style="color: white"> IoT Parking </h1>
    <br>
    <div id="idMenu">
        <a href=#Notificaciones></a>
        <a href=reservas id="idReservas"><img src="img/reservas.png" id="idReservaIcono" alt="reservas.png"></a>
        <!--<a href=#Consultas><img src="img/notificaciones.png" id="notificaciones" alt="nombreCliente.png" class="iconos"></a>-->
        <p style="color: white" id="idUsername"></p>
    </div>
    <br>
    <div id="divUnionRegistroCambioPlate">
        <div id="idDivLblRegistroCambioPlate">
            <br><br>
            <label for="idRegistroCambioPlate" class="labels" style="color: white">¿Quieres registrar o cambiar tu
                número de matrícula?</label>
            <br>
        </div>
        <div id="idDivBtnRegistroCambioPlate">
            <input type="button" id="idRegistroCambioPlate" value="Registro o cambio" onclick="registroMatriculaRedirect()" class="botones">
        </div>
        <br>
    </div>
    <br>
    <div id="idDivLugarAsignado">
        <br><br>
        <label for="idLugarAsignado" class="labels" style="color: white">Ve tu lugar lugar asignado</label>
        <input type="button" id="idLugarAsignado" value="Lugar asignado" onclick="lugarAsignadoRedirect()" class="botones">
        <br><br>
    </div>
    <br><br>
</body>

</html>