<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/mainPageCSS.css">
    <title>Sitio principal IoTParking</title>
</head>

<body id="body">
    <header>
    </header>
    <h1 id="titulo" style="color: white"> IoT Parking </h1>
    <br>
    <br>
    <div id="idMenu">
        <div id="campanita" class="column">
            <a href=#Notificaciones><img src="img/campanaChica.png" id="idNotificaciones" alt="#Notificaciones.png" class="iconos"></a>
        </div>
        <div id="logoReservas" class="column">
            <a href=#Reservas id="idReservas"><img src="img/reservas.png" id="idReservaIcono" alt="Reservas.png"></a>
        </div>
        <div id="logoConsultas" class="column">
            <a href=#Consultas><img src="img/preguntas.png" id="preguntas" alt="Preguntas.png" class="iconos"></a>
        </div>
    </div>
    <br><br>
    <br><br>
    <div id="divUnionRegistroCambioPlate">
        <div id="idDivLblRegistroCambioPlate">
            <br><br>
            <label for="idRegistroCambioPlate" class="labels" style="color: white">¿Quieres registrar o cambiar tu
                número de matrícula?</label>
            <br>
        </div>
        <div id="idDivBtnRegistroCambioPlate">
            <input type="button" id="idRegistroCambioPlate" value="Registro o cambio" class="botones">
        </div>
    </div>

    <br><br>
    <div id="idDivLugarAsignado">
        <label for="idLugarAsignado" class="labels" style="color: white">Ve tu lugar lugar asignado</label>
        <input type="button" id="idLugarAsignado" value="Lugar asignado" class="botones">
        <br><br>
    </div>
    <br><br>



</body>

</html>