<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/mainPageCSS.css">
    <title>Sitio principal IoTParking</title>
</head>

<body>
    <header>
    </header>
    <h1 id="titulo">IoT Parking</h1>

    <section id="idMenu">
        <a href=#Notificaciones><img src="img/campanaChica.png" id="idNotificaciones" alt="#Notificaciones.png" class="iconos"></a>
        <a href=#Reservas id="idReservas"><img src="img/reservas.png" id = "idReservaIcono" alt="Reservas.png"></a>
        <a href=#Consultas><img src="img/preguntas.png" id="preguntas" alt="Preguntas.png" class="iconos"></a>
    </section>
    <br>
    <br>
    <section id="seccionMain">
        <br><br>
        <label for="idRegistroCambioPlate" class="labels">¿Quieres registrar o cambiar tu número de matrícula?</label>
        <br>
        <input type="button" id="idRegistroCambioPlate" value="Registro o cambio" class="botones">
        <br><br>
        <label for="idLugarAsignado" class="labels">Ve tu lugar lugar asignado</label>
        <br>
        <input type="button" id="idLugarAsignado" value="Lugar asignado" class="botones">
        <br><br>
    </section>

</body>

</html>