<!DOCTYPE html>
<html lang = "es">
    <head>
    
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="CSS/diseñoRegistro.css">
        <script src="./JS/Register.js"></script>
        <title>Registro IoTParking</title>
    </head>
    <body id="body">
        <header>
            
        </header>

        <h1 id="titulo" style="color: white">Registro</h1>

        <section id="seccionRegistro">
            <form id="formPersonas">
                <br>
                <label for="idNombre" style="color: white">Nombre de usuario:</label>
                <input type="text" id="idNombre" placeholder="Nombre de usuario" maxlength="20" class="cajasTexto">
                <br><br>
                <label for="idContraseña" style="color: white">Contraseña</label>
                <input type="password" id="idContraseña" placeholder="Contraseña" maxlength="10" class="cajasTexto">
                <br><br>
                <label for="lblConfirmarContraseña" style="color: white">Confirmar contraseña</label>
                <input type="password" id="idConfirmarContraseña" placeholder="Confirmar contraseña" maxlength="10" class="cajasTexto">
                <br><br>
                  <div>
                <a style="color: white" href="/">Atras</a>
                <br>

                <input type="button" id="idRegistrarse" value="Registrarse" onclick="registerClick()" class="botones">
               </div>
                
            </form>
        </section>

    </body>

</html>