<!DOCTYPE html>
<html lang = "es">
    <head>
    
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="CSS/diseñoRegistro.css">
        <title>Registro IoTParking</title>
    </head>
    <body>
        <header>
            
        </header>
        <script	>
            function atrasClick(){
                
                window.location.replace("LoginPage.html");
                alert("a");
            }
        </script>
        <h1 id="titulo">Registro</h1>

        <section id="seccionRegistro">
            <form id="formPersonas">
                <br>
                <label for="idNombre">Nombre de usuario:</label>
                <input type="text" id="idNombre" placeholder="Nombre de usuario" maxlength="20" class="cajasTexto">
                <br><br>
                <label for="idContraseña">Contraseña</label>
                <input type="password" id="idContraseña" placeholder="Contraseña" maxlength="10" class="cajasTexto">
                <br><br>
                <label for="lblConfirmarContraseña">Confirmar contraseña</label>
                <input type="password" id="idConfirmarContraseña" placeholder="Confirmar contraseña" maxlength="10" class="cajasTexto">
                <br><br>
                  <div>
                <a href="/">Atras</button>
                <br>
                <input type="button" id="idRegistrarse" value="Registrarse" class="botones">
               </div>
                
            </form>
        </section>

    </body>

</html>