<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="CSS/registerPlatePage.css">
    <script src="./JS/RegisterPlate.js"></script>
    <title>Registro matrícula IoTParking</title>
</head>

<body id="body">
    <h1 id="titulo" style="color: white">Registro de matrícula</h1>
    <br>
    <section id="seccionRegistro">
        <br>
        <div id="divLblRegistro">
            <br><br>
            <label for="idRegistroPlate" class="labels" style="color: white">Ingrese su matrícula:</label>
            <input type="text" id="cajaTextoRegistroPlate" placeholder="Matrícula de su vehículo" maxlength="7">
            <br><br>
        </div>
        <br><br>
        <div id="divBtnRegistro">
            <br><br>
            <input type="button" id="idRegistroPlate" onclick="registerPlateClick()" value="Registrar matrícula" class="botones">
            <br><br>
        </div>
        <br>
        <br>
    </section>

</body>

</html>