#idBody {
    background-color: rgb(75, 73, 73);
}

#titulo {
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
}

#divUnionRegistroCambioPlate {
    background-color: rgb(128, 122, 120);
    border-radius: 10px;
}

.column {
    float: left;
    width: 33.33%;
    background-color: rgb(128, 122, 120);
}

#idMenu{
    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-rows: 100%;
    background-color:rgb(128, 122, 120) ;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
}

#idDivLblRegistroCambioPlate {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#idDivBtnRegistroCambioPlate {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

#idDivLugarAsignado {
    display: flex;
    background-color: rgb(128, 122, 120);
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.botones {
    border-radius: 25px;
}