<!DOCTYPE html>
<html>
    <head>
        <!-- head definitions go here -->
        <title>IoT parking</title>
        <link rel="stylesheet" href="CSS/GridModule.css"></link>
    </head>
    <body>
        <!-- the content goes here -->
        <div class="container">
            <div class="Logo">
                <img></img>
            </div>
            <div class="TextBox1">
                <input style="margin: 30px;" placeholder="Nombre de usuario" type="text" id="TxtName" name="TxtName"/>
            </div>

            <div class="TextBox2">
                <input type="password" placeholder="Contraseña" id="TxtPassword" name="fname"/>
            </div>
            

            <div class="Boton">
                <button id="BtnLogin">Login</button>
            </div>

            <div class="Pregunta">
                <a href="RegisterPage.html">¿Todavía no tenes una cuenta? Haz click aqui</a >
            </div>
          </div>
    </body>
</html>