<!DOCTYPE html>
<html lang = "es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0">
        <link rel="stylesheet" href="CSS/diseñoRegistro.css">
        <title>Registro IoTParking</title>
    </head>
    <body>
        <header>
            
        </header>
        <h1 id="titulo">Registro</h1>

        <section id="seccionRegistro">
            <form id="formPersonas">
                <br>
                <label for="idNombre">Nombre de usuario:</label>
                <input type="text" id="idNombre" placeholder="Nombre de usuario" maxlength="20" class="cajasTexto" required>
                <br><br>
                <label for="idSeccion">Contraseña</label>
                <input type="password" id="idContraseña" placeholder="Constraseña" maxlength="10" class="cajasTexto" required>
                <br><br>
                <label for="idMail">Confirmar contraseña</label>
                <input type="password" id="idConfirmarContraseña" placeholder="Confirmar contraseña" maxlength="10" class="cajasTexto" required>
                <br><br>
                <input type="button" id="idBtnRegistrarse" value="Registrarse" class="botones">
                <br><br>
            </form>
        </section>

    </body>

</html>